<div class="container about-part">
  <div class="row">

    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About Us</h5>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel eros donec ac odio tempor orci. Lobortis elementum nibh tellus molestie. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Rhoncus urna neque viverra justo nec ultrices. Malesuada proin libero nunc consequat. Amet cursus sit amet dictum. Amet volutpat consequat mauris nunc congue nisi. Consequat mauris nunc congue nisi vitae suscipit tellus. Non nisi est sit amet facilisis magna etiam tempor. Dui faucibus in ornare quam. Nunc pulvinar sapien et ligula ullamcorper malesuada. Ut sem viverra aliquet eget sit amet. Pharetra et ultrices neque ornare. Mi eget mauris pharetra et ultrices neque ornare aenean.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
