<section id="content-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="jumbotron jumbotron-home">
          <p class="title line1">Sport</p>
          <p class="title line2">Matters</p>
          <p>Something about sport ...</p>
        </div>
      </div>
    </div>
  </div>
</section>
