/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require vue_datetime_fix
 */


$font-family-base: Roboto !default;

$color1: #fade26;
$color2: #222222;
$color3: #edf1f5;


$navbar-dark-color:                 rgba(white, .75) !default;
$navbar-dark-hover-color:           white !default;
$navbar-dark-active-color:          #fff !default;
$navbar-dark-disabled-color:        rgba(white, .25) !default;

@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";

// @import "@fortawesome/fontawesome-free/css/all";
body {
    background-color: #edf1f5;
}

body.body-home {
    background-image: url('/images/4s_b.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    overflow: hidden;
}

.content-title-background {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity-background {
    background-image: url('/images/2s_y_b_n.jpg');
}
.contact-background {
    background-image: url('/images/8s_b_n.jpg');
}
.about-background {
    background-image: url('/images/3s_b_n.jpg');
}

// $break-small: 573px;
// $break-medium: 768px;

section.header {
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

section.header-content {
    padding: 10px;
    width: 100%;
}

a.navbar-brand{
    color: white;
    img {
        @media screen and (max-width: 576px) {
            height: 40px;
        }
        @media screen and (min-width: 576px) {
            height: 50px;
            width: 42px;
        }
    }
    span {
        float: right;
        font-weight: 300;
        margin-left: 15px;
        @media screen and (max-width: 576px) {
            margin-top: 5px;
            font-size: 1.2rem;
        }
        @media screen and (min-width: 576px) {
            font-size: 2rem;
        }
    }
    &:hover {
        color: white;
    }
    &:focus {
        outline-width: 0px;
    }
}

section#content-home {
    padding-top: 96px;
}

div.home-bottom {
    position: fixed;
    bottom: 30px;
    text-align: center;
    width: 100%;
    p {
        margin-bottom: 0;
        font-size: 1.0rem;
    }
    a {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $color3;
        text-decoration: underline;
    }
}

div.social-menu {
    font-size: 2rem;
    height: 100%;
    top: 0;
    position: fixed;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        margin: 5px 0;
        color: white;
    }
}

div.content-title {
    padding: 40px 0 130px 0;
    color: white;
    h1 {
        text-transform: uppercase;
        @media screen and (max-width: 576px) {
            font-size: 3rem;
        }
        @media screen and (min-width: 576px) {
            font-size: 5rem;
        }
        text-align: center;
    }
}

.navbar-toggler:focus {
    outline: 5px auto $color1;
}

.navbar-collapse {
    ul {
        @media screen and (max-width: 768px) {
            background-color: rgba(0,0,0,0.8);
        }
    }
}

.nav-item {
    margin: 0.5rem;
}
a.nav-link {
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    padding: 0!important;
    color: white;
    letter-spacing: 0.1rem;
    margin-left: 20px;

    &:hover {
        color: $color1;
    }
}

.card {
    margin: 15px 0 0 0;
    border: 0 solid rgb(0,0,0);
}


.jumbotron-home {
    @media screen and (max-width: 768px) {
        padding-top: 5vh;
        padding-left: 1rem;
    }
    @media screen and (min-width: 768px) {
        padding-top: 25vh;
        padding-left: 3rem;
    }
    background-color: inherit;
    h1 {
        font-size: 6rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        font-weight: 400;
        color: $color1;
    }
    p.title {
        color: $color1;
        text-transform: uppercase;    }
    .line1 {
        @media screen and (max-width: 768px) {
            font-size: 4rem;
            letter-spacing: 1.0rem;
            line-height: 1.9rem;
        }
        @media screen and (min-width: 768px) {
            font-size: 7rem;
            letter-spacing: 1.6rem;
            line-height: 3.5rem;
        }
        font-weight: 600;
    }
    .line2 {
        @media screen and (max-width: 768px) {
            font-size: 2.35rem;
            letter-spacing: 1.0rem;
            line-height: 1.9rem;
        }
        @media screen and (min-width: 768px) {
            font-size: 4rem;
            letter-spacing: 1.8rem;
            line-height: 3.5rem;
        }
        font-weight: 400;
    }
    p.title-description {
        text-align: justify;
        line-height: 1.2rem;
        @media screen and (max-width: 768px) {
            width: 17rem;
        }
        @media screen and (min-width: 768px) {
            width: 28rem;
        }
    }
}

.activity-type-img-td {
    svg {
        width: 50px;
        fill: red;
    }
}
.svg-image {
    width: 50px;
    background-color: white;
}

.content-main {
    background-color: $color3;
}

.content-part {
    background-color: $color3;
    .row {
        padding-bottom: 15px;
        .activity-card {
            div.svg-place {
                display: inline-block;
                margin: 10px 0;
                background-color: $color3;
                border-radius: 100%;
                svg {
                    width: 110px;
                    margin: 40px;

                }
            }
            .property-val{
                font-weight: 500;
            }
        }
    }
}

.status-part {
    background-color: white; 

    .btn-yellow {
        margin: 15px 0;
        font-size: 1.0rem;
        background-color: $color1;
        color: black;
        // text-transform: uppercase;
        &:focus{
            box-shadow: none;
        }
    }
    
    .my-breadcrumb {
        margin: 24px 0;
        color: $color2;
        font-size: 0.9rem;
        text-transform: uppercase;
        ul {
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;
            li {
                display: inline-block;
                letter-spacing: 0.1rem;
                padding-right: 10px;
                a {
                    color: #888888;
                    &:hover {
                        color: $color2
                    }
                }
            }
            li.arrow {
                // font-size: 1.4rem;
            }

        }
        .arrow {
            color: #b9b9b9
        }
    }

    .notice-row {
        background-color: $color3;
        div {
            text-align: center;
            p {
                margin: 10px 0;
                color: #3bbf3b;
            }
        }
    }
}

.form-group {
    .error-note {
        font-size: 0.9rem;
        color: #ff3333;
    }
}

p.status {
    color: $color2;
    display: inline-block;
    margin: 15px 0;
}

input.btn-submit {
    color: $color2;
    background-color: $color1;    
}

.activity-types-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    justify-items: center;
    align-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    .item {
        cursor: pointer;
        background-color: $color3;
        width: 120px;
        height: 120px;
        padding: 23px 0 0 0;
        text-align: center;
        border: 2px solid $color3;
        svg {
            width: 50px;
        }
        &:hover {
            border: 2px solid $color1;
        }
        span {
            user-select: none;
        }
    }
    .active {
        background-color: $color1!important;
    }

}

.simple-calendar {
    th {
        padding: 0.2rem;
    }
    .day {
        padding: 0.2rem;
    }
    .day-label {
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .calendar-activity-item {
        display: block;
        background-color: $color1;
        color: $color2;
        font-size: 0.9rem;
        padding: 2px;
        margin: 4px 0;
        &:hover {
            text-decoration: none;
        }
    }
    .calendar-heading {
        a {
            color: $color2;
            background-color: $color1;
            padding: 0 3px 2px 3px;
            margin: 5px;
            &:hover {
                text-decoration: none;
            }
        }
        margin-bottom: 5px;
    }
}

.chart-title {
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}

.btn-blue {
    color: $color3!important;
    background-color: #03a9f3;
    margin-left: 10px;
    &:hover {
        background-color: #038fcd;
    }
}
.btn-alert {
    color: $color3!important;
    background-color: #e46a76;
    margin-left: 10px;
    &:hover {
        background-color: #de4a58;
    }
}

.about-part {
    .row {
        margin: 50px 0;
    }
}

.footer {
    background-color: $color2;
    color: $color3;
    .col-6 {
        padding: 20px;
    }
}

.login-container{
    padding-top: 90px;
    .login-card {
        border: 0px;
        color: $color2;
        h3 {
            margin-top: 10px;
            text-align: center;
        }
        form {
            margin: 10px 30px;
            label {
                text-align: left;
            }
        }
    }
}

.login-links{
    padding: 25px;
    a {
        display: inline-block;
        color: $color2;
        text-decoration: underline;
        margin-right: 20px;
    }
}

.footer {
    a {
        color: #eeeeee;
        text-decoration: underline;
    }
    .contact-first-col {
        padding: 30px 30px;
        span {
            display: block;
            color: #eeeeee;
            font-size: 0.9rem;
        }
    }
    .contact-second-col {
        padding: 30px 30px;
        display: flex;
        @media screen and (max-width: 768px) {
            justify-content: center;
        }
        @media screen and (min-width: 768px) {
            justify-content: flex-end;
        }
        align-items: center;
        a {
            font-size: 2rem;
            padding: 0 10px;
            color: #eeeeee;
            &:hover {
                color: white;
            }
        }
    }
}