<section class="content-main">
  <div class="container-fluid status-part">
      <div class="row">
        <div class="col-12">
          <div class="my-breadcrumb">
            <ul>
              <li class="arrow"><i class="fas fa-greater-than"></i></li>
              <li class="text">
                <%= link_to "My activities", activities_path%>
              </li>
              <li class="arrow"><i class="fas fa-greater-than"></i></li>
              <li class="text">New Activity</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row notice-row">
        <div class="col-12">
          <p class="notice"><%= notice %></p>
        </div>
      </div>

  </div>

  <div class="container content-part">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <%= render 'form', activity: @activity %>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>



